p {
  font-size: 16px; }

h1 {
  font-family: "Russo One", sans-serif;
  color: #cc0000;
  position: relative; }

.space {
  height: 20em; }

.hi {
  border-radius: 5%;
  width: 18em; }

.block {
  block: inline-block; }

.fit {
  display: block;
  overflow: auto; }

.serge {
  background: url(../public/serge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
